<section style="margin-top: 90px;">
  <section class="w3l-albums py-5" id="projects">
    <div class="container py-lg-4">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <!--Horizontal Tab-->
          <div id="parentHorizontalTab">
            <ul class="resp-tabs-list hor_1">
              <li>Released Movies</li>
              <li>Upcoming Movies</li>
              <div class="clear"></div>
            </ul>
            <div class="resp-tabs-container hor_1">
              <div class="albums-content">
                <div class="row">
                  <!--/set1-->
                  {{#each released_movie}}
                    <div class="col-12 col-sm-6 col-lg-4 new-relise-gd mt-lg-0 mt-0">
                      <div class="slider-info">
                        <div class="img-circle">
                          <a href="/single-view/{{this._id}}">
                            <img
                              src="/movieImages/{{this._id}}Poster_photo.jpg"
                              class="img-fluid"
                              alt="author image"
                            />
                            {{! <div class="overlay-icon">
													<span class="fa fa-play video-icon" aria-hidden="true"></span>
												</div> }}
                          </a>
                        </div>
                        <div class="message">
                          <p>{{this.Language}}</p>
                          <a class="author-book-title">{{this.Movie}}</a>
                          <h4>
                            <span class="post"><span class="fa fa-clock-o">
                              </span>
                              {{this.Hours}}
                              hours
                            </span>
                            {{! <span class="post fa fa-heart text-right"></span> }}
                          </h4>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                  <!--//set1-->
                </div>
              </div>
              <div class="albums-content">
                <div class="row">
                  {{#each upcoming_movie}}
                    <!--/set1-->
                    <div
                      class="col-12 col-sm-6 col-lg-4 new-relise-gd mt-lg-0 mt-0"
                    >
                      <div class="slider-info">
                        <div class="img-circle">
                          <a href="/single-view/{{this._id}}">
                            <img
                              src="/movieImages/{{this._id}}Poster_photo.jpg"
                              class="img-fluid"
                              alt="author image"
                            />
                            {{! <div class="overlay-icon">
													<span class="fa fa-play video-icon" aria-hidden="true"></span>
												</div> }}
                          </a>
                        </div>
                        <div class="message">
                          <p>{{this.Language}}</p>
                          <a class="author-book-title">{{this.Movie}}</a>
                          <h4>
                            <span class="post"><span class="fa fa-clock-o">
                              </span>
                              {{this.Hours}}
                              hours
                            </span>
                            {{! <span class="post fa fa-heart text-right"></span> }}
                          </h4>
                        </div>
                      </div>
                    </div>
                  {{/each}}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>